registry=https://pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/registry/

always-auth=true

; begin auth token 
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/registry/:username=pglaesser 
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/registry/:_password=cW9iNHlhZTJndWxtdnN3emFrbHE3NWFydWI2MnZwcG5jdzJuZ2Z2cHc2ZjNkdGwzdXl5cQ==
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/:username=pglaesser 
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/:_password=cW9iNHlhZTJndWxtdnN3emFrbHE3NWFydWI2MnZwcG5jdzJuZ2Z2cHc2ZjNkdGwzdXl5cQ==
//pkgs.dev.azure.com/pglaesser/Littlefoot/_packaging/artifacts/npm/:email=npm requires email to be set but doesn't use the value
; end auth token